// Cores Principais
$c-main-blue: #003770;
$c-main-blue-light: #cbd6ea;
$c-main-orange: #fd7822;
$c-main-black: #252525;
$c-main-black-light: #373435;
$c-main-black-dark: #231f20;
$c-main-white: #ffffff;
$c-main-brown: #ceccc3; //#9f8d79;
$c-main-green: #ceccc3; //#9f8d79;
/*#9dd9c9;*/
// $c-main-brown;
$c-main-green-dark: #7ac8b3;
$c-main-dark-border: #272727;
$c-main-background-base: #fafafa;
$c-main-action-primary: #ceccc3;
// Cores Secundárias
$c-second-blue-light: #f5f7fb;
$c-khaki: #baab95;
$c-gray-1: #eff1f2;
$c-gray-2: #888987;
$c-gray-3: #616161;
$c-gray-4: #787375;
$c-gray-5: #909090;
// Tamanhos
$max-width-global: 1300px;
