.render-provider > .vtex-render-runtime-8-x-loadingBarAnimation > div::after {
  background-image: url('https://scavone.vtexassets.com/assets/vtex.file-manager-graphql/images/53883380-d05d-4dec-9cf9-98fae741c6ff___3a29e7f1bdc6ad25efbd6c475e9336a1.gif') !important;
}
