.trigger {
  &--disclosure-pdp {
    background: transparent;
    border: none;
    padding: 32px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eff1f2;

    :global(.vtex-rich-text-0-x-paragraph) {
      font-family: Montserrat;
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #231f20;
    }
  }
}
