@use './config/variables' as *;

:global(.vtex-render__container-id-pdp-shelf) {
  background: white;
}

.relatedProducts {
  padding-bottom: 50px;
  max-width: $max-width-global;
  margin: 0 auto 100px;
  padding: 0 1rem;
  background: white;

  @include mobile {
    background: $c-main-background-base;
  }

  .title {
    border-top: 1px solid $c-main-brown;
    padding: 3.125rem 0 0;
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 15px;
    color: #231f20;
    text-transform: uppercase;
    position: relative;

    @include mobile {
      border-top: 1px solid $c-main-brown;
      font-size: 1rem;
      margin-bottom: 0.625rem;
      padding-top: 1.25rem;
      font-weight: 500;

      &::after {
        top: 95%;
        height: 0.125rem;
      }
    }
  }

  &--shelf-mobile {
    padding: 0 20px 85px;
    margin: 0;

    &--last {
      @include mobile {
        :global(.vtex-shelf-1-x-slide--shelf-mobile--last) {
          background: white;
          margin: 0 5px;
          padding: 0;
        }

        :global(.vtex-product-summary-2-x-brandName--shelf-complete-collection) {
          font-size: 0.875rem !important;
        }
      }
    }

    .arrow {
      bottom: 50%;
      top: auto;
      transform: none;
    }
  }

  .arrow {
    background: #ffffff !important;
    width: 36px;
    height: 36px;
    border: 3px solid $c-khaki;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -15px;

    @include mobile {
      width: 1.3125rem;
      height: 1.3125rem;
      border: 1px solid $c-khaki;
    }

    .caretIcon {
      display: none;
    }

    &::after {
      content: url('assets/svg/icon-arrow-prev.svg');
      position: relative;
      bottom: -2px;

      @include mobile {
        content: url('assets/svg/icon-arrow-prev-mob.svg');
        bottom: 0;
      }
    }

    .caretIcon {
      &--carousel-image {
        display: none;
      }
    }
  }

  .arrowRight {
    right: -15px;
    left: auto;

    &::after {
      content: url('assets/svg/icon-arrow-next.svg') !important;
      position: relative;
      bottom: -2px;

      @include mobile {
        content: url('assets/svg/icon-arrow-next-mob.svg') !important;
        bottom: 0;
      }
    }
  }

  :global(.vtex-slider-0-x-dotsContainer) {
    top: 105%;

    @include mobile {
      top: initial;
    }
  }

  .dot {
    width: 30px !important;
    height: 2px !important;
    border-radius: 0;
    padding: 0;
    transition: 0.2s;
    background: $c-khaki;

    @include mobile {
      background: #a1a1a1;
    }

    &--isActive {
      width: 30px !important;
      height: 6px !important;
      border-radius: 0;
      padding: 0;
    }
  }

  :global(.vtex-product-summary-2-x-containerNormal) {
    max-width: 100% !important;
    border-radius: 0;

    :global(.vtex-product-summary-2-x-element) {
      gap: 0.5rem;
      padding: 0;

      @include mobile {
        background: transparent;
        gap: 0.2rem;
      }

      :global(.vtex-flex-layout-0-x-flexRow--container-button-and-price-pdp) {
        width: 100%;
        display: flex;

        :global(.vtex-store-components-3-x-container) {
          width: 100%;
        }

        :global(.vtex-flex-layout-0-x-flexRowContent--container-button-and-price-pdp) {
          justify-content: space-between;
          display: flex;

          @include mobile {
            flex-direction: column;
          }
        }
      }

      :global(.vtex-flex-layout-0-x-flexRow--container-name-and-price-pdp) {
        width: 100%;

        :global(.vtex-product-summary-2-x-nameContainer) {
          padding: 0;
          margin: 0;
          justify-content: flex-start;

          :global(.vtex-product-summary-2-x-brandName) {
            color: #434343;
            font-size: 0.875rem;
            font-weight: 400;
          }

          :global(.vtex-product-summary-2-x-brandName--shelf-complete-collection) {
            @include mobile {
              margin-top: 5px;
              font-size: 20px;
              line-height: 24px;
            }
          }
        }

        :global(.vtex-product-price-1-x-sellingPriceRange) {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          padding: 0;

          @include mobile {
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0.3125rem 0.3125rem 0;

            :global(.vtex-product-price-1-x-currencyContainer) {
              // font-size: 0.6875rem !important;
            }
          }

          :global(.vtex-product-price-1-x-currencyContainer) {
            color: #434343;
            font-size: 0.75rem;
            font-weight: 600;
          }
        }
      }

      :global(.vtex-product-summary-2-x-buyButtonContainer--go-to-product-pdp) {
        padding: 0;

        :global(.vtex-button) {
          border-color: $c-main-action-primary;
        }

        @include mobile {
          max-width: 100%;
          margin-top: 1.875rem;

          :global(.vtex-button) {
            border-color: $c-main-action-primary;

            :global(.vtex-product-summary-2-x-buyButtonText--go-to-product-pdp) {
              &::after {
                // font-size: 0.5rem !important;
              }
            }
          }
        }

        :global(.vtex-product-summary-2-x-buyButtonText--go-to-product-pdp--mobile) {
          @include mobile {
            &::after {
              content: 'Adicionar produto' !important;
              font-size: 0.875rem !important;
            }

            height: 50px;
            display: flex;
            align-items: center;
          }
        }

        :global(.vtex-product-summary-2-x-buyButtonText--go-to-product-pdp) {
          &::after {
            @include mobile {
              font-size: 0.75rem;
            }

            content: 'Comprar';
            font-size: 0.875rem;
            font-weight: 700;
            letter-spacing: 2px;
            color: #000;
          }
        }
      }
    }
  }
}
