@use './config/variables' as *;

.menuContainerNav {
  .menuItem {
    &--menu-footer-institucional {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

.menuItem {
  .accordionIcon {
    &--link-footer {
      font-size: 30px;
      font-weight: 400;
      font-size: 24px;
      color: $c-main-black;
    }
  }

  .submenuAccordion {
    &--footer {
      padding-left: 0;
    }

    .styledLinkContainer {
      &--menu-footer-institucional {
        margin-left: 0;

        .styledLinkContent {
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }

  &--link-footer {
    margin-bottom: 31px;
  }

  &--menu-footer {
    &-institucional {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      .styledLinkContainer {
        padding-top: 0;

        .styledLink {
          display: block;

          @include mobile {
            margin-bottom: 0;
          }

          &--highlight {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
  }

  &InnerDiv {
    .styledLink {
      &Container {
        &--link-footer {
          @include mobile {
            padding: 0 0px;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }

    .styledLinkContent {
      &--link-footer {
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }

  .menuContainer {
    .menuItem {
      &--menu-footer-institucional {
        margin-bottom: 20px;

        &:first-child {
          margin-top: 21px;
        }

        &:last-child {
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
  }
}
