@use './config/variables' as *;

.wishlistIconContainer {
  position: absolute;
  right: 22px;
  top: 0px;

  // @include mobile {
  //   position: absolute !important;
  //   right: 22px !important;
  //   top: 0px !important;
  // }

  :global(.vtex-button) {
    &:hover,
    &:focus {
      background-color: transparent;
    }

    :global(.vtex-button__label) {
      padding: 0 !important;

      .outline {
        background: url(assets/svg/wishlist.svg);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .fill {
        background: url(assets/svg/wishList-icon-fill-brown.svg);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &--shelf {
    z-index: 8;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 24px;
    // background: #fff;
    border-radius: 100px;
    // padding: 13px 11px;
    max-width: 46px;
    max-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      top: 0px !important;
      right: 5px !important;
      padding: 7px;
      max-width: 38px;
      max-height: 38px;
    }

    :global(.vtex-button) {
      display: block;
      width: 100%;
      background: none;
      height: 46px;
      border-radius: 50%;

      :global(.vtex-button__label) {
        width: 100%;
        height: 100%;
        padding: 0;

        &:hover {
          background: none;
        }

        .wishlistIcon {
          background: none;
          display: flex;
          justify-content: center;
          align-items: center;

          &::after {
            content: '';
            background-size: 100% 100%;
            background-image: url(assets/svg/wishlist-icon-white-fill-brown.svg);
            margin-top: 3px;
            width: 24px;
            height: 24px;
            display: block;
            margin-left: 0px;

            @include mobile {
              width: 20px;
              height: 20px;
            }
          }
        }

        .fill {
          background: none;
          display: flex;
          justify-content: center;
          align-items: center;

          &::after {
            content: '';
            background-image: url(assets/svg/wishList-icon-fill-brown.svg);
            background-size: 100% 100%;
            margin-top: 3px;
            width: 24px;
            height: 24px;
            display: block;
            margin-left: 0px;

            @include mobile {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  &--wishlist-pdp {
    width: auto !important;
    z-index: 1;
    top: 0px !important;
    right: 0px !important;
    position: relative !important;

    @include mobile {
      display: block;
      top: 0.9375rem;
      right: 0.9375rem;
      top: 20px !important;
      right: 50px !important;
      position: absolute !important;
    }

    :global(.vtex-button) {
      // width: 50px;
      // height: 50px;
      // background: #fff;
      // transition: 0.2s;
      // border-radius: 50%;
      // margin-right: -20px;
      // box-shadow: 0px 5px 10px rgba(55, 52, 53, 0.08);

      :global(.vtex-button__label) {
        padding: 0 !important;

        .outline {
          background: url(assets/svg/wishlist-icon-white-fill-brown.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
