@use './config/variables' as *;

.listPrice {
  padding-bottom: 8px;
  font-size: 12px;

  &::before {
    content: 'De: ';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $c-main-black-light;
  }

  .listPriceValue {
    .currencyContainer {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $c-main-black-light;

      &--shelf {
        font-weight: 500;
        font-size: 13px;

        @include mobile {
          font-size: 11px;
          color: $c-gray-3;
        }
      }
    }
  }

  &--shelf {
    padding: 0;

    &::before {
      display: none;
    }

    @include mobile {
      font-size: 11px;
      color: $c-gray-3;
    }
  }
}

.sellingPrice {
  // border: 1px solid green;
  &--home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;

    @include mobile {
      flex-direction: row;
      align-items: baseline;
    }
  }

  &--shelf-pdp {
    display: flex;
    align-items: center;
    margin: 0 !important;
    // flex-direction: column-reverse;

    &::after {
      // content: 'A partir de';

      @include mobile {
        content: '';
        display: none;
      }
    }
  }

  &--summary {
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    color: #231f20;
    text-align: left;
    padding: 0 0.5rem;

    @include mobile {
      padding: 0;
    }
  }

  @include mobile {
    text-align: left;
    margin: 0.5rem 0.25rem;
  }
}

.sellingPriceValue {
  .currencyContainer {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $c-main-black-dark;

    &--home {
      font-size: 12px !important;
      display: flex;
    }

    @include mobile {
      font-size: 14px;
      //   &::before {
      //     content: 'Por:';
      //     margin-right: 6px;
      //   }
    }
  }

  :global(.vtex-product-price-1-x-currencyContainer--shelf-pdp) {
    font-size: 14px !important;
    font-weight: 700 !important;
  }
}

.sellingPrice--hasListPrice {
  .currencyContainer {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: $c-main-black-dark;

    // &::before {
    //   content: '';
    //   margin-right: 6px;
    // }

    &--shelf {
      font-size: 16px;

      &::before {
        display: none;
      }

      @include mobile {
        font-size: 13px;
      }
    }
  }
}

.installments {
  .currencyContainer {
    // font-weight: 600;
  }
}

.installmentValue {
  &--autocomplete {
    .currencyContainer {
      font-weight: 400;
      font-size: 11px;
    }
  }
}

.installments {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $c-main-black-light;
  margin-top: 4px;
  padding: 0 9px;

  @include mobile {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    padding: 0;
  }

  &--autocomplete {
    padding-left: 0;
    margin-top: 7px;
  }
}

.sellingPriceRange {
  padding: 0 9px;
  letter-spacing: -1px;

  @include mobile {
    padding: 0;
  }

  .currencyContainer {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 10px;

    @include mobile {
      font-weight: 700;
      font-size: 11px;
      line-height: 15px;
    }

    &--autocomplete {
      font-size: 12px;
    }
  }

  &--autocomplete {
    padding: 0;
  }
}

.savings {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background: #373435;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  cursor: default;

  &--pdp {
    background: $c-main-brown;
    color: #373435;
    font-size: 12px;
    font-weight: 700;
    z-index: 1;
    width: fit-content !important;
    border-radius: 4px;
    left: 135px;
    top: 20px;

    @media (min-width: 1026px) and (max-width: 1300px) {
      left: 21.3%;
    }

    @include mobile {
      top: 10px;
      left: 26px;
    }
  }
}
