@use 'config/variables' as *;

.link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: $c-main-black-light;

  .label {
    &--storekeeper {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      color: $c-main-white;
    }
  }

  &--home-sobre {
    margin-left: 1.35rem;
    margin-top: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    background: $c-main-brown;
    color: #000000;
    border-radius: 2.93072px;
    padding: 0.5rem 1.25rem;
    transition: 200ms;

    &:hover {
      background: #897866;
    }
  }

  &--home-collection {
    border: none;
    width: fit-content;
    background: none;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    background: $c-main-brown;
    color: #000000;
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: 200ms;

    &:hover {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      background: $c-main-brown;

      &::after {
        transform: rotate(180deg);
        content: '';
        background: url('assets/svg/carousel-button-icon-white.svg') center
          no-repeat;
        width: 25px;
        height: 15px;
        background-size: 100% 100%;
      }
    }

    @include mobile {
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &--keep-buying {
    background: $c-main-green;
    border-radius: 4px;
    margin-inline: auto;
    max-width: 287px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    transition: 200ms;

    &:hover {
      background: $c-main-green-dark;
    }
  }

  &--keep-buying-minicart {
    border-radius: 4px;
    width: 92%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    text-decoration: underline;
  }

  &--storekeeper {
    display: flex;
    align-items: center;
  }

  &--wishlist,
  &--orders {
    display: flex;
    align-items: center;

    .label {
      margin-top: -9px;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: $c-main-black-light;
    }
  }

  &--wishlist {
    @include mobile {
      &::before {
        content: '';
        display: block;
        background-image: url(assets/svg/wishList-icon-fill-brown.svg);
        background-repeat: no-repeat;

        width: 37px;
        height: 37px;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0px 0px 2px -2px #000000;
        margin-right: 5px;
        align-items: center;
        background-color: white;
      }
    }
  }

  &--orders {
    @include mobile {
      &::before {
        content: '';
        display: block;
        width: 57px;
        height: 47px;
        background-image: url(assets/svg/header-mobile-orders-icon-brown.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &--back-to-home {
    background-color: $c-main-green;
    padding: 14px;
    display: block;
    width: 100%;
    max-width: 170px;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    transform: 200ms;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;

    @include mobile {
      margin-inline: auto;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
    }

    &:hover {
      background-color: $c-main-green-dark;
    }
  }
}
