.slick-slider {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.slick-list {
  overflow: hidden;
  padding: 128px 0 156px !important;
  position: relative;
  grid-column: 1 / 4;
}

.slick-slide {
  float: left;
  transition: 0.4s;
}

.slick-slide p {
  display: none;
}

.slick-center {
  transform: scale(1.61);
}

.slick-center p {
  display: block;
}

.slick-arrow {
  width: 30px;
  height: 18px;
  border: none;
  font-size: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 2 / 3;
  cursor: pointer;
}

.slick-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.75 9L2.5 9' stroke='%23373435' stroke-width='1.71429' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M8.57227 16.5L1.07227 9L8.57227 1.5' stroke='%23373435' stroke-width='1.71429' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  grid-column: 1 / 2;
  justify-self: flex-end;
}

.slick-next {
  grid-area: rightArrow;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L27.25 9' stroke='%23373435' stroke-width='1.71429' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M21.1777 16.5L28.6777 9L21.1777 1.5' stroke='%23373435' stroke-width='1.71429' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  grid-column: 3 / 4;
}

.slick-dots {
  grid-column: 2 / 3;
  list-style: none;
  margin: 0 53px;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 3.65px;
}

.slick-dots li {
  width: 21px;
  height: 1.46px;
  background-color: #373435;
  font-size: 0;
  border: none;
}

.slick-dots li.slick-active {
  height: 4.38px;
}

.slick-dots li button {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .slick-list {
    padding: 0 !important;
  }

  .slick-slide p {
    display: block;
  }

  .slick-slider {
    grid-gap: 47px 0;
  }

  .slick-prev {
    justify-self: flex-start;
  }

  .slick-next {
    justify-self: flex-end;
  }
}
