.ccContainer {
  width: 100%;
  background: #0d0d0d;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  display: none;
}

.ccContent {
 max-width: 90%;
    width: 100%;
    display: flex;
        align-items: center;
}
.ccContenttext{
width: 50%
}

/* BADGE */
.ccBadgeContainer {
  margin-bottom: 12px;
}

.ccBadge {
  display: inline-block;
  background: #ffcc00;
  color: #000;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

/* TITLES */
.ccTitle {
  font-size: 32px;
  font-weight: 800;
  margin: 10px 0;
}

.ccSubtitle {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 25px;
}

/* WRAPPER */
.ccWrapper {
      display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    width: 50%;
}

.ccItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NUMBERS */
.ccNumber {
      font-size: 42px;
    background: #1a1a1a;
    padding: 18px 22px;
    border-radius: 12px;
    min-width: 75px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ccYellow { 
  color: #ffe066; 
}

.ccRed { 
  color: #ff4d4d; 
}

.ccPink { 
  color: #ff66b3; 
}

.ccPurple { 
  color: #b266ff; 
}

.ccLabel {
  margin-top: 6px;
  font-size: 15px;
  opacity: 0.9;
  text-transform: uppercase;
}

/* CTA */
.ccCtaContainer {
  margin-top: 25px;
}

.ccButton {
  background: #ffcc00;
  color: #000;
  border: none;
  padding: 14px 26px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.ccButton:hover {
  background: #ffdb4d;
  transform: translateY(-2px);
}

/* RESPONSIVO */
@media (max-width: 480px) {
  .ccWrapper {
    gap: 10px;
  }

  .ccNumber {
    font-size: 30px;
    padding: 12px 16px;
    min-width: 55px;
  }

  .ccTitle {
    font-size: 24px;
  }
}